@font-face {
    font-family: Namu;
    src: url(fonts/Namu_Web/NAMU-1750.ttf);
}

:root {
    --primary: #8B0303;
    --secondary: #A8BFF8;
    --text: #030303;
    --background: #fffffc;
    --accent: #6C3BF9;
    --white: #fffffc;
}

.dark-mode {
    --primary: #8B0303;
    --secondary: #383ED082;
    --text: #fffffc;
    --background: #1A0C43;
    --accent: #8F6BFA;
    --white: #050505;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    padding-top: 80px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    justify-items: center;

    align-items: center;
    align-content: center;
    align-self: center;

    /* max-width: 1372px; */
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: auto;
}

a {
    text-decoration: none;
}

u {
    color: var(--background);
}

h3 {
    margin: 0;
}

/*                                                     NAVBAR */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-self: center;
    align-items: center;
    /* overflow: hidden; */
    background-color: var(--white);
    z-index: 1;
    position: fixed;
    top: 0px;
    margin: 0;
    margin-bottom: 70px;
    /* margin-left: 274px; */
    /* width: 100%; */
    transition: transform .1s linear;
    /* max-width: 1372px; */
}

.menu.hide {
    transform: translateY(-80px);
}

.menu__list-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menu__list-logo-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: var(--text);
    font-family: Colus;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 48px;
}

.logo {
    margin-right: 16px;
}

.menu__list-logo-text {
    align-items: center;
}

.menu__list-items {
    /* padding: 4px 16px 6px 16px; */
}

.menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.menu__list-link {
    color: var(--text);
    font-family: Namu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-top: 25.5px;
    margin-bottom: 41.5px;
    border-style: solid;
    border: var(--white);
    transition: border-bottom 0.15s, color 0.15s;
    padding: 4px 16px 6px 16px;
}

.menu__list-link:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.menu__list-search-wrapper {
    border-radius: 61px;
    border: none;
    background: var(--background);
    margin-right: 8px;
    padding: 6px 12px 6px 24px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    width: 328px;
}

.menu__list-search {
    border-style: none;
    background-color: var(--background);
    outline: none;
    color: var(--text);
    width: 100%;
    font-family: Namu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    /* opacity: 0.58; */
    height: auto;
}

::placeholder {
    opacity: 0.58;
}

.menu__list-search:focus {
    border-style: none;
}

.wrapper__switch {
    margin-left: 35px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    top: 2px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--background);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--background);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 14px;
}

.slider.round:before {
    border-radius: 50%;
}

/*                                               NAVBAR  */
/*                                           MAIN */
/*                                         CARDS */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* АААААААААААААААААААААААААААААААААА одна единственная строка выше решила мою проблему */
}

.wrapper__above_cards {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    justify-content: center;
    margin: 0px;
}

.wrapper__above_cards-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 208px;
}

.wrapper__above_cards-right {
    width: 267px;
    height: 267px;
    margin-top: 74px;
}

.roll_for_initiative {
    color: var(--text);
    text-align: center;

    /* H1 для одного тексту */
    font-family: Colus;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 560px;
    margin-bottom: 70px;
}


.button_generator {
    width: auto;
    display: inline-flex;
    padding: 10px 59px 8px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 53px;
    border: 3px solid var(--primary);
    color: var(--primary);
    background-color: var(--white);
    font-family: Colus;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.4s, color 0.4s;
}

.button_generator:hover {
    color: var(--white);
    background-color: var(--primary);
}

.wrapper__cards-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper__cards {
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 128px 128px;
    gap: 20px;
    margin-top: 131px;
}

.wrapper_cards-item {
    /* flex-shrink: 0; */
    border-radius: 20px;
    border: 3px solid var(--primary);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transition: background-color 0.4s, color 0.4s;
    max-width: 212px;
    /* height: auto; */
}

.colortext {
    color: var(--primary);
    text-align: center;
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    width: 206px;
    height: 56px;
    padding: 4px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-shrink: 0;
}

.wrapper_cards-item-circle {
    height: 52px;
    width: 52px;
    border-radius: 26px;
    background-color: var(--primary);
    margin: 12px 80px 0px 80px;
    justify-content: center;
    transition: background-color 0.3s;
}

.wrapper_cards-item:hover {
    background-color: var(--primary);
}

.wrapper_cards-item:hover div {
    background-color: var(--white);
}

.wrapper_cards-item:hover h3 {
    color: var(--white);

}

/*                                          CARDS */

.wrapper__news {
    display: block;
    justify-content: left;
    align-items: center;
    margin-top: 150px;
}

.menu_news {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: center;
    margin-bottom: 80px;
    margin-left: 274px;
}


.wrapper__news-text {
    color: var(--text);
    font-family: Colus;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wrapper__news-blocks .wrapper__news-item:not(:last-child) {
    margin-right: 20px;
}

.wrapper__news-item {
    justify-content: left;
    transition: linear 0.3s;
}

.wrapper__news-item:hover {
    transform: translateY(-30px);
}

.wrapper__news-backward {
    border-style: none;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 34px;
    justify-content: center;
    align-self: center;
    padding: 7px 14.6px 7px 11.25px;
}

.wrapper__news-forward {
    align-self: center;
    border-style: none;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 16.4px;
    justify-content: center;
    padding: 7px 14.6px 7px 11.25px;
}

.back,
.next {
    fill: var(--text);
}

.back:hover,
.next:hover {
    fill: var(--white);
}

.rect-back:hover,
.rect-next:hover {
    fill: var(--primary);

}

.wrapper__news-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    margin-left: 274px;
    margin-right: 274px;
}

.wrapper__news-item .wrapper__news-item-img {
    border-radius: 20px;
    background: lightgray 0px -234.702px / 100% 241.304% no-repeat;
    align-self: stretch;
    height: 230px;
}

.wrapper__news-item-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 16px;
}

.wrapper__news-item-text {
    color: var(--text);
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    align-self: stretch;
    display: flex;
    max-width: 444px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 24px;
}

.wrapper__news-item-date {
    color: var(--secondary);
    font-family: Namu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin: 0;
    align-items: center;
    gap: 116px;
    align-self: stretch;
}

.wrapper__announsment__update {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin-bottom: 164px;
    margin-top: 163px;
}

.wrapper__announse {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.wrapper__announse-text {
    color: var(--text);
    font-family: Colus;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: self-start;
    margin: 0;
    margin-bottom: 60px;
}

.wrapper__announse-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 52px;
}

.wrapper__announse-block-preview {
    position: relative;
    background-size: 750px 420px;
    background-position: center;
    background-repeat: no-repeat;
    width: 676px;
    height: 383px;
    border-radius: 20px;
    background-attachment: scroll;
    transition: all 0.6s ease-out;
    cursor: pointer;
}

.wrapper__announse-block #Announse1 {
    background-image: url(img/Announse1.png);
    /* background-size: 750px 420px; */
}

.wrapper__announse-block #Announse2 {
    background-image: url(img/Announse2.png);
    /* background-size: 750px 420px; */
}

.wrapper__announse-block-preview:hover {
    background-size: 676px 383px;
    transition: all 0.6s ease-out;
}

.wrapper__announse-block-img {
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    width: 676px;
    transition: all 0.6s ease-out;

}

.wrapper__announse-block-img:hover {
    transform: scale(1.1);
}

.wrapper__announse-block-date {
    display: flex;
    padding: 8px 20px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 41px;
    background: var(--accent);
}

.announse__date {
    color: var(--white);
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.wrapper__announse-block-text {
    color: var(--text);
    /* H3 */
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 12px;
    margin: 0;
}


.wrapper__update {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin-left: 136px;
}

.wrapper__update-text {
    color: var(--text);
    font-family: Colus;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 60px;
}

.wrapper__update-blocks {
    display: grid;
    grid-template-columns: 560px;
    column-gap: 16px;
    row-gap: 40px;
}

.wrapper__update-block {
    display: flex;
    align-items: start;
    gap: 16px;
}

.wrapper__update-block-date {
    /* flex: 1 0 0; */
    color: var(--accent);
    text-align: right;
    /* H3 */
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 70px;
    margin: 0;
}

.wrapper__update-block-text {
    /* flex: 1 0 0; */
    color: var(--text);
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}


.wrapper__footer_dragon {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(img/Frame41.png), #F2F2F0;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: left;
    width: 100%;
    /* max-width: auto; */
}

.wrapper__footer_dragon-text {
    color: var(--text);

    font-family: Colus;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 55px;
    margin-bottom: 64px;
    margin-right: 127px;
    width: 576px;
}

.wrapper__footer_dragon-right {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.wrapper__footer_dragon-right-text {
    width: 560px;
    color: var(--text);
    font-family: Namu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.wrapper__footer_dragon-right-down {
    display: grid;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    grid-template-columns: 2fr 1fr;
    margin: 0;
    margin-top: 78px;
}

.wrapper__footer_dragon-right-down-email-box {
    border-radius: 61px;
    border: none;
    background: var(--background);
    padding: 4px 16px 2px 12px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 31px;
    margin-right: 20px;
}

.wrapper__footer_dragon-right-down-email {
    border-radius: 61px;
    background: var(--white);
    border-style: none;
    display: flex;
    width: 90%;
    align-items: center;
    outline: none;
}

.wrapper__footer_dragon-right-down-button {
    display: inline-flex;
    padding: 10px 58px 8px 58px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 3px solid var(--primary);
    background: var(--white);
    color: var(--primary);
    text-align: center;
    font-family: Colus;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.4s, color 0.4s;
    margin: 0;
}

.wrapper__footer_dragon-right-down-button:hover {
    background-color: var(--primary);
    color: var(--white);
}


/*                                                  MAIN */
.footer {
    background: var(--text);
    color: var(--background);
    font-family: Namu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 340px;
    width: auto;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer__links-column1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 89px;
    transition: border-bottom 0.3s;
}

.footer__links-column2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 90px;
    margin-right: 27px;
    transition: border-bottom 0.3s;
}

.footer__links-column3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    transition: border-bottom 0.3s, color 0.3s;
}

.footer__color-text {
    padding: 1px 16px 6px 16px;
    color: var(--white);
    font-family: Namu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    align-self: stretch;
    transition: background-color 0.4s, color 0.4s;
}

.footer__color-text:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.footer__social {
    margin: 0;
    margin-right: 438px;
}

.footer__social_logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 50px;
    gap: 16px;
}

.footer__social-logo-text {
    color: var(--white);
    font-family: Colus;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.footer__social_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
    gap: 16px;
}

.licens_auth_rights {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    margin-top: 62px;
}

.rights {
    opacity: 0.4;
    color: var(--white);
    font-family: Namu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.footer__glory {
    margin: 0;
    margin-top: 50px;
}

.footer__glory-text {
    color: var(--white);
    font-family: Namu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}